@import '~@/styles/global';

.Hdgl {
  padding-top: 88px;

  .dateBar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 44px;
    padding: 16px 16px 0;
    width: 100%;
    height: 66px;
    background: #f6f7fb;
    color: $textColorSub2;

    .dateBtn {
      position: relative;
      padding-right: 20px;
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 6px solid $textColorSub2;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
      }
    }
  }

  .indexItem {
    padding: 0 16px 11px;

    .indexTitle {
      height: 33px;
      line-height: 26px;
      font-weight: bold;
    }

    .indexItemSub {
      overflow: hidden;
      margin: 0 -5.5px;

      .indexItemSubCard {
        box-sizing: border-box;
        overflow: hidden;
        float: left;
        margin: 0 5.5px 11px;
        padding: 16px 24px 0;
        width: 166px;
        height: 108px;
        border-radius: 8px;
        background: url('~@/assets/hdgl/index_bg.png') no-repeat;
        background-size: 100%;

        &-A {
          background-position: 0 0;
        }
        &-B {
          background-position: 0 -108px;
        }
        &-C {
          background-position: 0 -216px;
        }
        &-D {
          background-position: 0 -324px;
        }

        .situation {
          font-size: 28px;
          color: $themeColor;
          .unit {
            font-size: 12px;
          }
        }

        .indexName {
          margin-top: 4px;
          font-size: 14px;
          color: #545a6b;
        }
      }
    }
  }
}
