@import '@/styles/global.scss';

.NavBarPlaceHolder {
  height: 44px;
  .Nav {
    position: fixed;
    left: 0;
    width: 100%;
    height: 44px;
    background: #f6f7fb;
  }
  & :global(.am-navbar) {
    height: 44px;
    :global(.am-navbar-title) {
      font-size: $fontSizeTitle;
    }
  }
  & :global(.am-navbar-light) {
    background: transparent;
  }
}
